/* إعدادات الصفحة والخلفية */
body {
    margin:0;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:#f5efe6; /* خلفية بيج */
    font-family:Arial, sans-serif;
}

/* العنوان */
.title {
    font-size:36px;
    margin-bottom:30px;
    color:#333;
}

.title .boy {
    color:#4da6ff; /* أزرق */
    font-weight:bold;
}

.title .girl {
    color:#ff6ec7; /* وردي */
    font-weight:bold;
}

/* حاوية الدوائر */
.circle-container {
    display:grid;
    grid-template-columns:repeat(3, 120px); /* أكبر */
    gap:25px; /* مسافة أجمل */
    justify-content:center;
} 



/* كل دائرة */
.scratch {
    width:120px;
    height:120px;
    border-radius:50%;
    background-color:#ccc;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
} 



/* آخر دائرة مميزة */
.scratch.last {
    border:2px dashed #999;
}


.circle-container {
    transform:scale(1);
}

.scratch {
    flex-shrink:0;
} 
